## Exercise 1 Write Python code that prints your name, student number and email address.

In [6]:
Name = 'Arjun Vidyasagar'
Student_Number = 'STU001'
email_address = 'arjunvidyasagar@yahoo.com'

In [12]:
print (Name)
print (Student_Number)
print (email_address)

Arjun Vidyasagar
STU001
arjunvidyasagar@yahoo.com

## Exercise 2 Write Python code that prints your name, student number and email address using escape sequences.

In [19]:
print('Arjun Vidyasagar\nSTU001\narjunvidyasagar@yahoo.com')

Arjun Vidyasagar
STU001
arjunvidyasagar@yahoo.com

## Exercise 3 Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7. An example run of the program: 14 + 7 = 21 14 * 7 = 98 14 â€“ 7 = 7 14 / 7 = 2

In [22]:
a=14
b=7

In [26]:
sum= a+b
print (sum)

21

In [28]:
difference = a-b
print (difference)

7

In [30]:
product=a*b
print(product)

98

In [32]:
Quotient = a/b
print (Quotient)

2.0

## Exercise 4 Write Python code that displays the numbers from 1 to 5 as steps.

In [37]:
print ('1\n2\n3\n4\n5')

1
2
3
4
5

## Exercise 5 Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen: An example runs of the program: "SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

In [42]:
print('""SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment"')

""SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment"

##  Exercise 6 Practice and check the output print("python is an \"awesome\" language.") print("python\n\t2023") print('I\'m from Entri.\b') print("\65") print("\x65") print("Entri", "2023", sep="\n") print("Entri", "2023", sep="\b") print("Entri", "2023", sep="*", end="\b\b\b\b")

In [50]:
print('"python is an "awesome" language."')

"python is an "awesome" language."

In [52]:
print("python\n\t2023")

python
	2023

In [70]:
print('I\'m from Entri.\b')

I'm from Entri

In [74]:
print("\65") 
print("\x65")

5
e

In [76]:
print("Entri", "2023", sep="\n")

Entri
2023

In [78]:
print("Entri", "2023", sep="\b")

Entr2023

In [80]:
print("Entri", "2023", sep="*", end="\b\b\b\b")

Entri*20

## Exercise 7 Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum? num=23 textnum="57" decimal=98.3

In [83]:
num = 23
textnum = "57"
decimal = 98.3

In [85]:
print(type(num))
print(type(textnum))
print(type(decimal))

<class 'int'>
<class 'str'>
<class 'float'>

In [89]:
sum= num+int(textnum)+decimal

In [91]:
print(type(sum))

<class 'float'>

## Exercise 8 calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values. (hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [96]:
days_in_year = 365
minutes_in_hour = 60
hours_in_day = 24

In [98]:
Total_Minutes_In_an_Year = days_in_year*minutes_in_hour*hours_in_day

In [100]:
print(Total_Minutes_In_an_Year)

525600

In [102]:
print("This program calculates the total number of minutes in a year.")
print ("The total number of minutes in an year is",Total_Minutes_In_an_Year)

This program calculates the total number of minutes in a year.
The total number of minutes in an year is 525600

## Exercise 9 Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting. An example runs of the program: Please enter you name: Tony Hi Tony, welcome to Python programming :)

In [105]:
name = input("Please enter your name: ") 
print("Hi", name + ", welcome to Python programming :)")

Please enter your name:  Arjun

Hi Arjun, welcome to Python programming :)

## Exercise 10 Name your file: PoundsToDollars.py Write a program that asks the user to enter an amount in pounds (Â£) and the program calculates and converts an amount in dollar ($) An example runs of the program: Please enter amount in pounds: XXX

In [132]:
pounds= float(input("Please enter the amount in Pounds"))
exchange_rate = 1.25
dollars = pounds*exchange_rate
print('Â£',pounds, 'are', '$',dollars)

Please enter the amount in Pounds 09

Â£ 9.0 are $ 11.25