In [2]:
import numpy as np
import pandas as pd

In [18]:
# Exercise 1: Create a numpy array containing the numbers from 1 to 10 and reshape it to a 2x5 matrix
arr1 = np.arange(1, 11).reshape(2, 5)
print("Reshaped Array\n", arr1)

Reshaped Array
 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [20]:
# Exercise 2: Create a numpy array containing numbers from 1 to 20, extract elements between 5th and 15th index
arr2 = np.arange(1, 21)
extracted_elements = arr2[5:16]
print("\nExtracted Elements", extracted_elements)

Extracted Elements [ 6  7  8  9 10 11 12 13 14 15 16]

In [26]:
# Exercise 3: Create a Pandas series and add a new item
fruit_series = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})
fruit_series['pears'] = 4
print("Pandas Series\n",fruit_series)

Pandas Series
 apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [32]:
# Exercise 4: Create a DataFrame with name, age, and gender columns
data = {
    'name': ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ian", "Jack"],
    'age': [25, 30, 22, 35, 40, 28, 32, 26, 38, 29],
    'gender': ["Female", "Male", "Male", "Male", "Female", "Male", "Female", "Female", "Male", "Male"]
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

DataFrame:
       name  age  gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   22    Male
3    David   35    Male
4      Eve   40  Female
5    Frank   28    Male
6    Grace   32  Female
7   Hannah   26  Female
8      Ian   38    Male
9     Jack   29    Male

In [38]:
# Exercise 5: Add a new column 'occupation'
df['occupation'] = ["Programmer", "Manager", "Analyst", "Programmer", "Manager", "Analyst", "Programmer", "Manager", "Analyst", "Programmer"]
print("DataFrame with Occupation Column:\n", df)

DataFrame with Occupation Column:
       name  age  gender  occupation
0    Alice   25  Female  Programmer
1      Bob   30    Male     Manager
2  Charlie   22    Male     Analyst
3    David   35    Male  Programmer
4      Eve   40  Female     Manager
5    Frank   28    Male     Analyst
6    Grace   32  Female  Programmer
7   Hannah   26  Female     Manager
8      Ian   38    Male     Analyst
9     Jack   29    Male  Programmer

In [42]:
# Exercise 6: Select rows where age >= 30
filtered_df = df[df['age'] >= 30]
print("Filtered DataFrame (age >= 30)\n", filtered_df)

Filtered DataFrame (age >= 30)
     name  age  gender  occupation
1    Bob   30    Male     Manager
3  David   35    Male  Programmer
4    Eve   40  Female     Manager
6  Grace   32  Female  Programmer
8    Ian   38    Male     Analyst

In [44]:
# Exercise 7: Convert DataFrame to CSV and read it back
df.to_csv('dataframe.csv', index=False)
df_read = pd.read_csv('dataframe.csv')
print("Read CSV File\n", df_read)

Read CSV File
       name  age  gender  occupation
0    Alice   25  Female  Programmer
1      Bob   30    Male     Manager
2  Charlie   22    Male     Analyst
3    David   35    Male  Programmer
4      Eve   40  Female     Manager
5    Frank   28    Male     Analyst
6    Grace   32  Female  Programmer
7   Hannah   26  Female     Manager
8      Ian   38    Male     Analyst
9     Jack   29    Male  Programmer