## Topic :List

# Q1. Create a list of 5 random numbers and print the list.

In [3]:
numbers = [4, 8, 15, 16, 23]  
print("Original list is:", numbers)

Original list is: [4, 8, 15, 16, 23]

# Q2. Insert 3 new values to the list and print the updated list.

In [6]:
numbers.append(16)
numbers.append(28)
numbers.append(90)

In [8]:
print("The updated list is", numbers)

The updated list is [4, 8, 15, 16, 23, 16, 28, 90]

# Q3. Try to use a for loop to print each element in the list.

In [11]:
for i in numbers:
    print("One of the elements of the list is",i)

One of the elements of the list is 4
One of the elements of the list is 8
One of the elements of the list is 15
One of the elements of the list is 16
One of the elements of the list is 23
One of the elements of the list is 16
One of the elements of the list is 28
One of the elements of the list is 90

## Topic: Dictionary

# Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [18]:
person = {"Name" : "John",
        "Age" : 25,
         "Address" : "NewYork"}
person

{'Name': 'John', 'Age': 25, 'Address': 'NewYork'}

# Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [32]:
person['Phone'] =1234567890

In [34]:
person

{'Name': 'John', 'Age': 25, 'Address': 'NewYork', 'Phone': 1234567890}

## Topic: Set

# Q1.Create a set with values 1, 2, 3, 4, and 5.

In [65]:
num_set = {1,2,3,4,5}
num_set

{1, 2, 3, 4, 5}

In [67]:
num_set

{1, 2, 3, 4, 5}

# Q2. Add the value 6 to the set created in Q1.

In [73]:
num_set.add(6)
num_set

{1, 2, 3, 4, 5, 6}

# Q3. Remove the value 3 from the set created in Q1.

In [75]:
num_set.remove(3)
num_set

{1, 2, 4, 5, 6}

## Topic:Tuple

# Q1. Create a tuple with values 1, 2, 3, and 4

In [79]:
num_tuple = (1,2,3,4)
num_tuple

(1, 2, 3, 4)

# Q2. Print the length of the tuple created in Q1.

In [84]:
print("The size of the tuple is", len(num_tuple))

The size of the tuple is 4